src/ServiceBusMQ/Web References/HalanService/ProductManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ProductManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IProductManager1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www.halan.se/service/ProductManager.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www.halan.se/service/ProductManager.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www.halan.se/service/ProductManager.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.Contracts" />
      <xsd:import schemaLocation="http://www.halan.se/service/ProductManager.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProductManager_ReportError_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportError" />
  </wsdl:message>
  <wsdl:message name="IProductManager_ReportError_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReportErrorResponse" />
  </wsdl:message>
  <wsdl:message name="IProductManager_ReportAttachment_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportAttachment" />
  </wsdl:message>
  <wsdl:message name="IProductManager_ReportAttachment_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReportAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="IProductManager_GetLatestVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestVersion" />
  </wsdl:message>
  <wsdl:message name="IProductManager_GetLatestVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestVersionResponse" />
  </wsdl:message>
  <wsdl:portType name="IProductManager">
    <wsdl:operation name="ReportError">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductManager/ReportError" message="tns:IProductManager_ReportError_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductManager/ReportErrorResponse" message="tns:IProductManager_ReportError_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReportAttachment">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductManager/ReportAttachment" message="tns:IProductManager_ReportAttachment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductManager/ReportAttachmentResponse" message="tns:IProductManager_ReportAttachment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IProductManager/GetLatestVersion" message="tns:IProductManager_GetLatestVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProductManager/GetLatestVersionResponse" message="tns:IProductManager_GetLatestVersion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProductManager" type="tns:IProductManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReportError">
      <soap:operation soapAction="http://tempuri.org/IProductManager/ReportError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportAttachment">
      <soap:operation soapAction="http://tempuri.org/IProductManager/ReportAttachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestVersion">
      <soap:operation soapAction="http://tempuri.org/IProductManager/GetLatestVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IProductManager1" type="tns:IProductManager">
    <wsp:PolicyReference URI="#BasicHttpBinding_IProductManager1_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReportError">
      <soap:operation soapAction="http://tempuri.org/IProductManager/ReportError" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportAttachment">
      <soap:operation soapAction="http://tempuri.org/IProductManager/ReportAttachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestVersion">
      <soap:operation soapAction="http://tempuri.org/IProductManager/GetLatestVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProductManager">
    <wsdl:port name="BasicHttpBinding_IProductManager" binding="tns:BasicHttpBinding_IProductManager">
      <soap:address location="http://www.halan.se/service/ProductManager.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IProductManager1" binding="tns:BasicHttpBinding_IProductManager1">
      <soap:address location="http://www.halan.se/service/ProductManager.svc/mtom" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>