src/ServiceBusMQ/Web References/HalanService/ProductManager.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Services.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Services.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.halan.se/service/ProductManager.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ErrorReportRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="DotNetFrameworkVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Exception" nillable="true" type="tns:ErrorReportException" />
      <xs:element minOccurs="0" name="ManagerState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatingSystem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorReportRequest" nillable="true" type="tns:ErrorReportRequest" />
  <xs:complexType name="ErrorReportException">
    <xs:sequence>
      <xs:element minOccurs="0" name="InnerException" nillable="true" type="tns:ErrorReportException" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorReportException" nillable="true" type="tns:ErrorReportException" />
  <xs:complexType name="ErrorReportResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Successful" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorReportResponse" nillable="true" type="tns:ErrorReportResponse" />
  <xs:complexType name="ReportAttachmentRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportAttachmentRequest" nillable="true" type="tns:ReportAttachmentRequest" />
  <xs:complexType name="ReportAttachmentResponse">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ReportAttachmentResponse" nillable="true" type="tns:ReportAttachmentResponse" />
  <xs:complexType name="LatestVersionRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentProductVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LatestVersionRequest" nillable="true" type="tns:LatestVersionRequest" />
  <xs:complexType name="LatestVersionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Features" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="ProductVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReleaseDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LatestVersionResponse" nillable="true" type="tns:LatestVersionResponse" />
</xs:schema>