src/ServiceBusMQ/Service References/HalanService/ProductManager2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www.halan.se/service/ProductManager.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services.Contracts" />
  <xs:element name="ReportError">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Services.Contracts" minOccurs="0" name="request" nillable="true" type="q1:ErrorReportRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportErrorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Services.Contracts" minOccurs="0" name="ReportErrorResult" nillable="true" type="q2:ErrorReportResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportAttachment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Services.Contracts" minOccurs="0" name="request" nillable="true" type="q3:ReportAttachmentRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportAttachmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Services.Contracts" minOccurs="0" name="ReportAttachmentResult" nillable="true" type="q4:ReportAttachmentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Services.Contracts" minOccurs="0" name="request" nillable="true" type="q5:LatestVersionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLatestVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Services.Contracts" minOccurs="0" name="GetLatestVersionResult" nillable="true" type="q6:LatestVersionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>